
/* 
.colors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
} */

select {
  color: black;
  
 
}

color {
 
 
}